{% extends 'base_lk.html' %}

{% block container %}
  <main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="/mycompany">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="/mycompany/vacancies/">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">Создайте новую вакансию для вашей компании</h2>
              {% if messages %}
                {% for message in messages %}
                {% if message.tags %} <p class="alert alert-info" role="alert">{{ message }}</p> {% endif %}
                 {% endfor %}
              {% endif %}
              <form enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                 {% load crispy_forms_tags %}
                 {% crispy v_form "bootstrap4" %}
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}